<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>RafaelPortal Dashboard</title>
    <meta charset="UTF-8" />    <!--Character encoding.-->
    <meta name="viewport" content="width=device-width, initial-scale=0.5"/>
    <link rel="stylesheet" href="{% static 'therapistApp/styles/style.css'  %}">
    <link rel="stylesheet" href="{% static 'therapistApp//tiny-slider-master/src/tiny-slider.css'  %}">
</head>

<body class="body-dashboard">
    <div class="container-dashboard">
        <div class="container-dashboard-content container-dashboard-content1">
            <div class="dashboard-logo">
                <b>Company Logo</b>
            </div>
            <div class="dashboard-logout">
                <a class="dashboard-logout-button" href="/login">LOGOUT</a>
            </div>
        </div>
        <div class="container-dashboard-content container-dashboard-content2">
            <div class="dashboard-navigation">
                DASHBOARD
                <br>
                <br>

                
                USERNAME
                <br>
                <br>


                SOCIAL
                <br>
                <br>


                ACCOUNT
                <br>
                <br>


                SUBSCRIPTIONS
                <br>
                <br>


                SUPPORT
                <br>
                <br>

                
                MESSAGING
                <br>

            </div>
            <div class="dashboard-chatZone">
                <div class="dashboard-chatZone1">
                <br>
                    RafaelTherapy <br>
                    <span class="dashboard-chatZone1-intro1"> <b>Welcome to your <br>
                    confidential RafaelTherapy</b> </span> <br><br>
                    Your Matching Therapist will be joining you soon!
                </div> 
                <div class="dashboard-chatZone2">
                </div>
                <div class="dashboard-chatZone3">
                    Chat: Hi
                </div>
            </div>
        </div>
    </div>
</body>
</html>